{% if value == 1 %}
<ul class="list-inline">
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
</ul>
{% elif value == 2 %}
<ul class="list-inline">
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
</ul>
{% elif value == 3 %}
<ul class="list-inline">
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
</ul>
{% elif value == 4 %}
<ul class="list-inline">
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
</ul>
{% elif value == 0 %}
<ul class="list-inline">
    
</ul>
{% else %}
<ul class="list-inline">
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
    <li class="list-inline-item selected">
        <i class="fa fa-star"></i>
    </li>
</ul>

{% endif %}